@use '../fontdation/base';

.p-attention{
    background: linear-gradient(to bottom right, #AEAAB2 50%, #525054 30%);
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    padding: 84px 22px;
    color: white;
    position: relative;
    @include base.media_tablet{
        padding:65px 120px 65px 65px;
    }
    @include base.media_tablet{
        padding:65px 120px 65px 65px;
    }
    &__title{
        writing-mode: vertical-rl;
        letter-spacing: 0.8rem;
        mix-blend-mode: difference;
    }
    &__list{
        list-style-type: disc;
        max-width: 420px;
        @include base.media_tablet{
        max-width:650px;
        }
        @include base.media_PC{
            max-width: 850px;
        }
    }
    &__detail{
        margin:0 36px 36px;
        :first-child{
            border-bottom: 1px solid white;
            display:inline;
            line-height: 2em;
            font-size: base.$s;
        }
        p{
            line-height: 2em;
        }
    }
}