@use '../fontdation/base';

.p-instagram{
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include base.media_PC{
        flex-direction: row;
    }
    &__grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px 300px 300px;
    height: calc(900px + 10vw);
    overflow: hidden;
    gap: 5vw;
    margin-bottom: 50px;
    @include base.media_tablet{
        width: 100%;
        grid-template-columns:1fr 1fr 1fr;
        grid-template-rows: 300px 300px;
        gap: 2vw;
        height: calc(600px + 2vw);
    }
    @include base.media_PC{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 300px 300px;
        height: 100%;
        gap: 2vw;
        width: calc(1200px + 6vw);
        transform: translateY(50px);
    }
    }
    &__title{
        font-weight: normal;
        @include base.media_PC{
            writing-mode: vertical-rl;
        }
    }
    &__item{
        border: solid 2px base.$black;
        position: relative;
        overflow: hidden;
    }
    &__button{
        margin-left: calc(100% - 200px);
        @include base.media_tablet{
            margin-right: calc(100% - 250px);
            margin-left: 50px;
        }
        @include base.media_PC{
            margin-top: 50px;
            margin-right: 0px;
            margin-left: 10vw;
        }
    }
}
.instagram-media{
    position: absolute;
    top:-54px;
    left: 50%;
    transform: translateX(-50%);
    object-fit: cover;
    width: 30%;
}